In [1]:
import numpy as np
import pandas as pd
import xgboost as xgb

In [2]:
c_train = pd.read_csv('E:\\edvancer\\documents\\Python\\Project 2\\carvan_train (1).csv')

In [3]:
c_test = pd.read_csv('E:\\edvancer\\documents\\Python\\Project 2\\carvan_test.csv')

In [4]:
c_test["V86"]=np.nan

In [5]:
import math

In [6]:
c_train['data'] = 'train'

In [7]:
c_test['data']= 'test'

In [8]:
c_test = c_test[c_train.columns]
c_all = pd.concat([c_train,c_test],axis=0)

In [9]:
c_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9822 entries, 0 to 3999
Data columns (total 87 columns):
V1      9822 non-null int64
V2      9822 non-null int64
V3      9822 non-null int64
V4      9822 non-null int64
V5      9822 non-null int64
V6      9822 non-null int64
V7      9822 non-null int64
V8      9822 non-null int64
V9      9822 non-null int64
V10     9822 non-null int64
V11     9822 non-null int64
V12     9822 non-null int64
V13     9822 non-null int64
V14     9822 non-null int64
V15     9822 non-null int64
V16     9822 non-null int64
V17     9822 non-null int64
V18     9822 non-null int64
V19     9822 non-null int64
V20     9822 non-null int64
V21     9822 non-null int64
V22     9822 non-null int64
V23     9822 non-null int64
V24     9822 non-null int64
V25     9822 non-null int64
V26     9822 non-null int64
V27     9822 non-null int64
V28     9822 non-null int64
V29     9822 non-null int64
V30     9822 non-null int64
V31     9822 non-null int64
V32     9822 non-null int64
V33     9822 non-null int64
V34     9822 non-null int64
V35     9822 non-null int64
V36     9822 non-null int64
V37     9822 non-null int64
V38     9822 non-null int64
V39     9822 non-null int64
V40     9822 non-null int64
V41     9822 non-null int64
V42     9822 non-null int64
V43     9822 non-null int64
V44     9822 non-null int64
V45     9822 non-null int64
V46     9822 non-null int64
V47     9822 non-null int64
V48     9822 non-null int64
V49     9822 non-null int64
V50     9822 non-null int64
V51     9822 non-null int64
V52     9822 non-null int64
V53     9822 non-null int64
V54     9822 non-null int64
V55     9822 non-null int64
V56     9822 non-null int64
V57     9822 non-null int64
V58     9822 non-null int64
V59     9822 non-null int64
V60     9822 non-null int64
V61     9822 non-null int64
V62     9822 non-null int64
V63     9822 non-null int64
V64     9822 non-null int64
V65     9822 non-null int64
V66     9822 non-null int64
V67     9822 non-null int64
V68     9822 non-null int64
V69     9822 non-null int64
V70     9822 non-null int64
V71     9822 non-null int64
V72     9822 non-null int64
V73     9822 non-null int64
V74     9822 non-null int64
V75     9822 non-null int64
V76     9822 non-null int64
V77     9822 non-null int64
V78     9822 non-null int64
V79     9822 non-null int64
V80     9822 non-null int64
V81     9822 non-null int64
V82     9822 non-null int64
V83     9822 non-null int64
V84     9822 non-null int64
V85     9822 non-null int64
V86     5822 non-null float64
data    9822 non-null object
dtypes: float64(1), int64(85), object(1)
memory usage: 6.6+ MB

In [10]:
for col in c_all.columns:
    var = c_all[col].value_counts()
    print(col,': \n ' ,var)

V1 :
  33    1401
38     569
8      546
39     542
9      460
3      433
23     376
36     373
35     362
41     355
34     325
24     324
31     318
13     302
11     286
10     271
32     234
37     233
1      218
6      209
12     194
30     190
22     169
2      148
29     139
40     137
25     129
4       90
26      79
27      77
7       72
5       70
20      42
28      41
21      29
18      27
16      25
17      13
15       7
19       7
Name: V1, dtype: int64
V2 :
  1     8915
2      821
3       64
7        8
4        4
6        3
5        3
10       2
8        2
Name: V2, dtype: int64
V3 :
  3    4513
2    3616
4    1132
1     452
5     106
6       3
Name: V3, dtype: int64
V4 :
  3    5154
2    2409
4    1777
5     329
1     104
6      49
Name: V4, dtype: int64
V5 :
  8     2694
3     1513
9     1111
1      959
5      940
7      881
2      827
10     492
6      326
4       79
Name: V5, dtype: int64
V6 :
  0    5420
1    2744
2    1213
3     243
4     123
5      30
6      25
7      11
9      10
8       3
Name: V6, dtype: int64
V7 :
  4    2666
5    2533
6    1180
3    1022
7     995
2     666
9     290
1     225
0     127
8     118
Name: V7, dtype: int64
V8 :
  0    3460
1    3391
2    2294
3     415
4     220
5      42
Name: V8, dtype: int64
V9 :
  3    2476
4    2245
2    1778
5    1572
0     773
6     394
1     378
7     179
9      14
8      13
Name: V9, dtype: int64
V10 :
  7    2800
6    2015
5    1628
9    1345
8     603
4     550
3     402
2     252
1     119
0     108
Name: V10, dtype: int64
V11 :
  0    4185
1    3402
2    1790
3     260
4     133
5      32
6      18
7       2
Name: V11, dtype: int64
V12 :
  2    2944
0    1981
3    1965
4    1140
1     900
5     421
6     299
7     100
9      41
8      31
Name: V12, dtype: int64
V13 :
  0    2916
2    2143
1    1619
3    1439
4     890
5     416
6     222
7     107
8      36
9      34
Name: V13, dtype: int64
V14 :
  3    2517
4    2493
2    1798
5    1043
0     613
1     608
6     516
7     160
9      47
8      27
Name: V14, dtype: int64
V15 :
  4    1983
5    1869
3    1596
6    1322
2    1096
7     601
1     475
8     341
9     296
0     243
Name: V15, dtype: int64
V16 :
  0    3621
1    2176
2    1921
3     927
4     577
5     338
6     123
7      83
8      39
9      17
Name: V16, dtype: int64
V17 :
  4    2394
3    2332
2    1648
5    1227
0     711
1     624
6     526
7     243
9      64
8      53
Name: V17, dtype: int64
V18 :
  5    1740
6    1472
4    1448
3    1128
2    1099
7    1090
9     531
0     494
8     424
1     396
Name: V18, dtype: int64
V19 :
  0    2576
2    2278
1    2119
3    1282
4     641
5     415
6     248
7     159
9      57
8      47
Name: V19, dtype: int64
V20 :
  0    7031
1    2009
2     600
5      94
3      70
4      18
Name: V20, dtype: int64
V21 :
  0    6985
1    1462
2     815
3     256
4     144
5     108
6      21
8      15
9      13
7       3
Name: V21, dtype: int64
V22 :
  2    2508
3    2348
4    1573
0    1164
5     726
1     699
6     348
7     295
9     137
8      24
Name: V22, dtype: int64
V23 :
  2    2327
0    1995
3    1967
1    1523
4    1006
5     524
6     299
7     119
8      38
9      24
Name: V23, dtype: int64
V24 :
  2    2460
3    1817
1    1685
0    1636
4    1289
5     564
6     216
7     101
9      37
8      17
Name: V24, dtype: int64
V25 :
  0    2871
1    2626
2    2056
3    1168
4     452
5     228
6     152
7     147
9     106
8      16
Name: V25, dtype: int64
V26 :
  2    3009
1    2549
0    2275
3    1300
4     459
5     129
6      53
9      26
8      13
7       9
Name: V26, dtype: int64
V27 :
  2    2778
3    2025
0    1694
1    1434
4    1104
5     588
6     176
8      11
7       9
9       3
Name: V27, dtype: int64
V28 :
  5    1953
4    1929
3    1845
2    1468
6     800
0     634
1     478
7     396
9     202
8     117
Name: V28, dtype: int64
V29 :
  0    4376
1    2658
2    1434
3     757
4     378
5     158
6      37
7      22
9       1
8       1
Name: V29, dtype: int64
V30 :
  0    1663
9    1255
2    1177
3     961
4     908
8     874
5     863
1     755
7     710
6     656
Name: V30, dtype: int64
V31 :
  9    1663
0    1255
7    1185
6     978
5     912
1     871
4     834
8     756
2     712
3     656
Name: V31, dtype: int64
V32 :
  6    2822
7    2338
5    2106
9     829
4     740
8     435
3     400
2     102
0      30
1      20
Name: V32, dtype: int64
V33 :
  0    3078
2    2999
1    2454
3     638
4     531
5     105
6      14
7       2
9       1
Name: V33, dtype: int64
V34 :
  2    2611
0    2475
3    1871
1    1327
4    1020
5     288
6     145
7      40
9      27
8      18
Name: V34, dtype: int64
V35 :
  7    2520
5    1644
6    1451
9    1436
8    1178
4     628
2     518
3     315
0     109
1      23
Name: V35, dtype: int64
V36 :
  2    2520
4    1668
0    1436
3    1415
1    1178
5     639
7     518
6     316
9     109
8      23
Name: V36, dtype: int64
V37 :
  0    2164
2    1893
3    1826
1    1060
4     981
5     971
6     512
7     261
9      78
8      76
Name: V37, dtype: int64
V38 :
  4    2207
3    1989
5    1585
2    1569
0     782
6     671
1     486
7     337
9     134
8      62
Name: V38, dtype: int64
V39 :
  3    2028
2    1962
4    1709
0    1505
1    1132
5     828
6     232
7     170
9     161
8      95
Name: V39, dtype: int64
V40 :
  0    5464
1    2251
2    1256
3     429
4     278
5     119
6      10
8       7
9       6
7       2
Name: V40, dtype: int64
V41 :
  0    8253
1    1269
2     188
3      66
4      38
5       4
6       2
7       1
9       1
Name: V41, dtype: int64
V42 :
  3    3232
4    3063
5    1268
2    1110
6     646
7     228
8     121
1      78
9      38
0      38
Name: V42, dtype: int64
V43 :
  3    2556
6    1587
4    1539
5     964
1     938
7     777
2     731
8     730
Name: V43, dtype: int64
V44 :
  0    5903
2    3562
1     341
3      16
Name: V44, dtype: int64
V45 :
  0    9688
2      53
3      36
4      26
1       9
6       5
5       5
Name: V45, dtype: int64
V46 :
  0    9613
4     108
3      92
2       7
1       2
Name: V46, dtype: int64
V47 :
  0    4825
6    3910
5    1013
7      64
8       5
4       4
9       1
Name: V47, dtype: int64
V48 :
  0    9730
6      71
5      17
7       4
Name: V48, dtype: int64
V49 :
  0    9460
4     207
6      79
5      70
3       4
7       2
Name: V49, dtype: int64
V50 :
  0    9808
6      10
7       2
4       1
9       1
Name: V50, dtype: int64
V51 :
  0    9719
2      62
1      30
3       9
5       1
4       1
Name: V51, dtype: int64
V52 :
  0    9576
3     142
4      45
5      42
6      16
7       1
Name: V52, dtype: int64
V53 :
  0    9790
4      11
3       8
2       7
6       5
1       1
Name: V53, dtype: int64
V54 :
  0    9150
3     481
4      99
2      63
5      27
6       2
Name: V54, dtype: int64
V55 :
  0    9308
4     172
3     141
6      65
5      65
2      51
1      14
7       4
9       1
8       1
Name: V55, dtype: int64
V56 :
  0    9777
2      24
3       7
1       6
4       4
6       2
5       2
Name: V56, dtype: int64
V57 :
  0    9744
2      50
3      28
Name: V57, dtype: int64
V58 :
  0    9784
6      32
7       4
5       1
4       1
Name: V58, dtype: int64
V59 :
  0    4464
4    2142
3    1541
2     901
5     263
6     252
1     245
7      12
8       2
Name: V59, dtype: int64
V60 :
  0    9813
2       5
1       3
3       1
Name: V60, dtype: int64
V61 :
  0    9777
4      18
2       8
3       6
1       6
5       4
6       3
Name: V61, dtype: int64
V62 :
  0    9573
1     249
Name: V62, dtype: int64
V63 :
  0    9740
1      34
2      30
4       8
3       7
6       2
5       1
Name: V63, dtype: int64
V64 :
  0    9687
4      68
3      34
2      31
5       2
Name: V64, dtype: int64
V65 :
  0    5903
1    3909
2      10
Name: V65, dtype: int64
V66 :
  0    9688
1     133
5       1
Name: V66, dtype: int64
V67 :
  0    9613
1     209
Name: V67, dtype: int64
V68 :
  0     4825
1     4580
2      384
3       21
4        8
7        1
6        1
5        1
12       1
Name: V68, dtype: int64
V69 :
  0    9730
1      83
2       4
3       3
5       1
4       1
Name: V69, dtype: int64
V70 :
  0    9460
1     337
2      22
3       2
8       1
Name: V70, dtype: int64
V71 :
  0    9808
1       9
2       3
4       1
3       1
Name: V71, dtype: int64
V72 :
  0    9719
1      96
2       5
3       2
Name: V72, dtype: int64
V73 :
  0    9576
1     184
2      46
3       7
4       6
6       2
5       1
Name: V73, dtype: int64
V74 :
  0    9790
1      21
2       7
3       2
6       1
4       1
Name: V74, dtype: int64
V75 :
  0    9150
1     647
2      24
3       1
Name: V75, dtype: int64
V76 :
  0    9308
1     305
2     170
3      23
4      13
5       2
8       1
Name: V76, dtype: int64
V77 :
  0    9777
1      45
Name: V77, dtype: int64
V78 :
  0    9744
1      78
Name: V78, dtype: int64
V79 :
  0    9784
1      34
2       4
Name: V79, dtype: int64
V80 :
  1    5116
0    4464
2     221
3      11
4       6
5       2
7       1
6       1
Name: V80, dtype: int64
V81 :
  0    9813
1       9
Name: V81, dtype: int64
V82 :
  0    9777
1      40
2       5
Name: V82, dtype: int64
V83 :
  0    9573
1     193
2      53
3       2
4       1
Name: V83, dtype: int64
V84 :
  0    9740
1      81
2       1
Name: V84, dtype: int64
V85 :
  0    9687
1     134
2       1
Name: V85, dtype: int64
V86 :
  0.0    5474
1.0     348
Name: V86, dtype: int64
data :
  train    5822
test     4000
Name: data, dtype: int64

In [11]:
k =c_all['V1'].value_counts()

In [12]:
for col in k.axes[0][0:27]:
    var = 'V1_'+str(col)
    c_all[var] = np.where(c_all['V1']== col, 1,0)

In [13]:
c_all.drop(columns= 'V1',axis=1,inplace=True)

In [14]:
k =c_all['V2'].value_counts()

In [15]:
for col in k.axes[0][0:3]:
    var = 'V2_'+str(col)
    c_all[var] = np.where(c_all['V2']== col, 1,0)

In [16]:
c_all.drop(columns= 'V2',axis=1,inplace=True)
c_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9822 entries, 0 to 3999
Columns: 115 entries, V3 to V2_3
dtypes: float64(1), int32(30), int64(83), object(1)
memory usage: 7.6+ MB

In [17]:
k =c_all['V3'].value_counts()

In [18]:
for col in k.axes[0][0:3]:
    var = 'V3_'+str(col)
    c_all[var] = np.where(c_all['V3']== col, 1,0)

In [20]:
c_all.drop(columns= 'V3',axis=1,inplace=True)

KeyError: "labels ['V3'] not contained in axis"

In [21]:
c_all.columns

Index(['V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13',
       ...
       'V1_2', 'V1_29', 'V1_40', 'V1_25', 'V2_1', 'V2_2', 'V2_3', 'V3_3',
       'V3_2', 'V3_4'],
      dtype='object', length=117)

In [22]:
k =c_all['V4'].value_counts()

In [23]:
for col in k.axes[0][0:5]:
    var = 'V4_'+str(col)
    c_all[var] = np.where(c_all['V4']== col, 1,0)

In [24]:
c_all.columns

Index(['V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13',
       ...
       'V2_2', 'V2_3', 'V3_3', 'V3_2', 'V3_4', 'V4_3', 'V4_2', 'V4_4', 'V4_5',
       'V4_1'],
      dtype='object', length=122)

In [25]:
k =c_all['V5'].value_counts()
for col in k.axes[0][0:9]:
    var = 'V5_'+str(col)
    c_all[var] = np.where(c_all['V5']== col, 1,0)
c_all.drop(columns='V5',axis=1,inplace=True)

In [26]:
c_all.drop(columns='V4',axis=1,inplace=True)

In [27]:
k =c_all['V6'].value_counts()
for col in k.axes[0][0:5]:
    var = 'V6_'+str(col)
    c_all[var] = np.where(c_all['V6']== col, 1,0)

In [28]:
c_all.drop(columns='V6',axis=1,inplace=True)

In [29]:
k =c_all['V7'].value_counts()
d0 = pd.get_dummies(c_all['V7'],prefix='V7')
d1 = pd.get_dummies(c_all['V31'],prefix='V31')
d2 = pd.get_dummies(c_all['V30'],prefix='V30')
d3 = pd.get_dummies(c_all['V15'],prefix='V15')
d4 = pd.get_dummies(c_all['V43'],prefix='V43')
c_all = pd.concat([c_all,d0,d1,d2,d3,d4],axis=1)

In [30]:
c_all['V82'].value_counts()

0    9777
1      40
2       5
Name: V82, dtype: int64

In [31]:
c_all['V82'] = np.where(c_all['V82']== 0 ,0,1)

In [32]:
c_all['V82'].value_counts()

0    9777
1      45
Name: V82, dtype: int64

In [33]:
c_all['V83'] = np.where(c_all['V83']== 0 ,0,1)
c_all['V20'].value_counts()

0    7031
1    2009
2     600
5      94
3      70
4      18
Name: V20, dtype: int64

In [35]:
c_all['V20'] = np.where(c_all['V20']== 0 ,0,1)

In [36]:
c_all['V41'] = np.where(c_all['V41']== 0 ,0,1)
c_all['V45'] = np.where(c_all['V45']== 0 ,0,1)

In [37]:
c_all['V46'] = np.where(c_all['V46']== 0 ,0,1)
c_all['V48'] = np.where(c_all['V48']== 0 ,0,1)
c_all['V49'].value_counts()

0    9460
4     207
6      79
5      70
3       4
7       2
Name: V49, dtype: int64

In [38]:
c_all['V49'] = np.where(c_all['V49']== 0 ,0,1)
c_all['V50'] = np.where(c_all['V50']== 0 ,0,1)
c_all['V51'] = np.where(c_all['V51']== 0 ,0,1)
c_all['V52'] = np.where(c_all['V52']== 0 ,0,1)
c_all['V53'] = np.where(c_all['V53']== 0 ,0,1)
c_all['V54'] = np.where(c_all['V54']== 0 ,0,1)
c_all['V55'] = np.where(c_all['V55']== 0 ,0,1)
c_all['V56'] = np.where(c_all['V56']== 0 ,0,1)
c_all['V57'] = np.where(c_all['V57']== 0 ,0,1)
c_all['V58'] = np.where(c_all['V58']== 0 ,0,1)
c_all['V60'].value_counts()

0    9813
2       5
1       3
3       1
Name: V60, dtype: int64

In [39]:
c_all.drop(columns='V60',axis=1,inplace=True)
c_all['V61'].value_counts()

0    9777
4      18
2       8
3       6
1       6
5       4
6       3
Name: V61, dtype: int64

In [40]:
c_all.drop(columns='V61',axis=1,inplace=True)
c_all['V63'].value_counts()

0    9740
1      34
2      30
4       8
3       7
6       2
5       1
Name: V63, dtype: int64

In [41]:
c_all.drop(columns='V63',axis=1,inplace=True)
c_all['V64'].value_counts()

0    9687
4      68
3      34
2      31
5       2
Name: V64, dtype: int64

In [42]:
c_all.drop(columns='V64',axis=1,inplace=True)
c_all['V65'].value_counts()

0    5903
1    3909
2      10
Name: V65, dtype: int64

In [43]:
c_all['V65'] = np.where(c_all['V65']== 0 ,0,1)
c_all['V66'].value_counts()

0    9688
1     133
5       1
Name: V66, dtype: int64

In [44]:
c_all.drop(columns='V66',axis=1,inplace=True)
c_all['V69'].value_counts()

0    9730
1      83
2       4
3       3
5       1
4       1
Name: V69, dtype: int64

In [45]:
c_all['V69'] = np.where(c_all['V69']== 0 ,0,1)
c_all['V70'].value_counts()

0    9460
1     337
2      22
3       2
8       1
Name: V70, dtype: int64

In [46]:
c_all['V70'] = np.where(c_all['V70']== 0 ,0,1)
c_all['V73'].value_counts()

0    9576
1     184
2      46
3       7
4       6
6       2
5       1
Name: V73, dtype: int64

In [47]:
c_all.drop(columns='V71',axis=1,inplace=True)
c_all['V72'] = np.where(c_all['V72']== 0 ,0,1)
c_all['V73'] = np.where(c_all['V73']== 0 ,0,1)
c_all['V75'].value_counts()

0    9150
1     647
2      24
3       1
Name: V75, dtype: int64

In [48]:
c_all.drop(columns='V74',axis=1,inplace=True)
c_all['V75'] = np.where(c_all['V75']== 0 ,0,1)

In [49]:
c_all['V76'] = np.where(c_all['V76']== 0 ,0,1)
c_all['V68'].value_counts()

0     4825
1     4580
2      384
3       21
4        8
7        1
6        1
5        1
12       1
Name: V68, dtype: int64

In [50]:
c_all.drop(columns='V79',axis=1,inplace=True)
k = c_all['V68'].value_counts()
for col in k.axes[0][0:2]:
    var = 'V68_'+str(col)
    c_all[var] = np.where(c_all['V68'] == col,1,0)

In [51]:
k=c_all['V59'].value_counts()
for col in k.axes[0][0:3]:
    var = 'V59_'+str(col)
    c_all[var] = np.where(c_all['V59'] == col,1,0)

In [52]:
k = c_all['V80'].value_counts()
for col in k.axes[0][0:2]:
    var = 'V80_'+str(col)
    c_all[var] = np.where(c_all['V80'] == col,1,0)
c_all.columns

Index(['V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16',
       ...
       'V43_6', 'V43_7', 'V43_8', 'V68_0', 'V68_1', 'V59_0', 'V59_4', 'V59_3',
       'V80_1', 'V80_0'],
      dtype='object', length=180)

In [53]:
c_all['V84'].value_counts()
c_all.drop(columns='V84',axis=1,inplace=True)
c_all['V44'].value_counts()

0    5903
2    3562
1     341
3      16
Name: V44, dtype: int64

In [54]:
c_all['V85']=np.where(c_all['V85']==0,0,1)
k =c_all['V47'].value_counts()

In [55]:
for col in k.axes[0][0:3]:
    var = 'V47_'+str(col)
    c_all[var] = np.where(c_all['V47'] == col,1,0)

In [58]:
k =c_all['V44'].value_counts()
for col in k.axes[0][0:3]:
    var = 'V44_'+str(col)
    c_all[var] = np.where(c_all['V44'] == col,1,0)
k =c_all['V42'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V42_'+str(col)
    c_all[var] = np.where(c_all['V42'] == col,1,0)

In [59]:
c_all['V8'].value_counts()

0    3460
1    3391
2    2294
3     415
4     220
5      42
Name: V8, dtype: int64

In [60]:
k =c_all['V8'].value_counts()
for col in k.axes[0][0:3]:
    var = 'V8_'+str(col)
    c_all[var] = np.where(c_all['V8'] == col,1,0)
c_all.columns

Index(['V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16',
       ...
       'V44_0', 'V44_2', 'V44_1', 'V42_3', 'V42_4', 'V42_5', 'V42_2', 'V8_0',
       'V8_1', 'V8_2'],
      dtype='object', length=192)

In [61]:
k =c_all['V9'].value_counts()
for col in k.axes[0][0:5]:
    var = 'V9_'+str(col)
    c_all[var] = np.where(c_all['V9'] == col,1,0)
c_all['V10'].value_counts()

7    2800
6    2015
5    1628
9    1345
8     603
4     550
3     402
2     252
1     119
0     108
Name: V10, dtype: int64

In [62]:
k =c_all['V10'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V10_'+str(col)
    c_all[var] = np.where(c_all['V10'] == col,1,0)
k =c_all['V11'].value_counts()
for col in k.axes[0][0:3]:
    var = 'V11_'+str(col)
    c_all[var] = np.where(c_all['V11'] == col,1,0)
c_all['V12'].value_counts()

2    2944
0    1981
3    1965
4    1140
1     900
5     421
6     299
7     100
9      41
8      31
Name: V12, dtype: int64

In [63]:
k =c_all['V12'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V12_'+str(col)
    c_all[var] = np.where(c_all['V12'] == col,1,0)
c_all['V15'].value_counts()

4    1983
5    1869
3    1596
6    1322
2    1096
7     601
1     475
8     341
9     296
0     243
Name: V15, dtype: int64

In [64]:
k =c_all['V13'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V13_'+str(col)
    c_all[var] = np.where(c_all['V13'] == col,1,0)
c_all['V14'].value_counts()

3    2517
4    2493
2    1798
5    1043
0     613
1     608
6     516
7     160
9      47
8      27
Name: V14, dtype: int64

In [65]:
k =c_all['V14'].value_counts()
for col in k.axes[0][0:7]:
    var = 'V14_'+str(col)
    c_all[var] = np.where(c_all['V14'] == col,1,0)
c_all['V16'].value_counts()

0    3621
1    2176
2    1921
3     927
4     577
5     338
6     123
7      83
8      39
9      17
Name: V16, dtype: int64

In [66]:
k =c_all['V16'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V16_'+str(col)
    c_all[var] = np.where(c_all['V16'] == col,1,0)
k =c_all['V17'].value_counts()
for col in k.axes[0][0:7]:
    var = 'V17_'+str(col)
    c_all[var] = np.where(c_all['V17'] == col,1,0)
c_all['V19'].value_counts()

0    2576
2    2278
1    2119
3    1282
4     641
5     415
6     248
7     159
9      57
8      47
Name: V19, dtype: int64

In [67]:
v1 = pd.get_dummies(c_all['V18'],prefix='V18_')
c_all = pd.concat([c_all,v1],axis=1)
k =c_all['V19'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V19_'+str(col)
    c_all[var] = np.where(c_all['V19'] == col,1,0)

In [68]:
k =c_all['V21'].value_counts()
for col in k.axes[0][0:3]:
    var = 'V21_'+str(col)
    c_all[var] = np.where(c_all['V21'] == col,1,0)
k =c_all['V22'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V22_'+str(col)
    c_all[var] = np.where(c_all['V22'] == col,1,0)
k =c_all['V23'].value_counts()
for col in k.axes[0][0:5]:
    var = 'V23_'+str(col)
    c_all[var] = np.where(c_all['V23'] == col,1,0)
k =c_all['V24'].value_counts()
for col in k.axes[0][0:5]:
    var = 'V24_'+str(col)
    c_all[var] = np.where(c_all['V24'] == col,1,0)
k =c_all['V25'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V25_'+str(col)
    c_all[var] = np.where(c_all['V25'] == col,1,0)
c_all['V26'].value_counts()

2    3009
1    2549
0    2275
3    1300
4     459
5     129
6      53
9      26
8      13
7       9
Name: V26, dtype: int64

In [70]:
k =c_all['V26'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V26_'+str(col)
    c_all[var] = np.where(c_all['V26'] == col,1,0)
c_all['V29'].value_counts()

0    4376
1    2658
2    1434
3     757
4     378
5     158
6      37
7      22
9       1
8       1
Name: V29, dtype: int64

In [71]:
k =c_all['V27'].value_counts()
for col in k.axes[0][0:5]:
    var = 'V27_'+str(col)
    c_all[var] = np.where(c_all['V27'] == col,1,0)
v2 = pd.get_dummies(c_all['V28'] ,drop_first= True,prefix='V28')
c_all = pd.concat([c_all,v2],1)

In [72]:
k =c_all['V29'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V29_'+str(col)
    c_all[var] = np.where(c_all['V29'] == col,1,0)
c_all['V34'].value_counts()

2    2611
0    2475
3    1871
1    1327
4    1020
5     288
6     145
7      40
9      27
8      18
Name: V34, dtype: int64

In [74]:
k =c_all['V32'].value_counts()
for col in k.axes[0][0:3]:
    var = 'V32_'+str(col)
    c_all[var] = np.where(c_all['V32'] == col,1,0)
k =c_all['V33'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V33_'+str(col)
    c_all[var] = np.where(c_all['V33'] == col,1,0)
c_all.drop(['V33_3'],1,inplace=True)
k =c_all['V34'].value_counts()
for col in k.axes[0][0:5]:
    var = 'V34_'+str(col)
    c_all[var] = np.where(c_all['V34'] == col,1,0)
k =c_all['V35'].value_counts()
for col in k.axes[0][0:5]:
    var = 'V35_'+str(col)
    c_all[var] = np.where(c_all['V35'] == col,1,0)
k =c_all['V36'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V36_'+str(col)
    c_all[var] = np.where(c_all['V36'] == col,1,0)
k =c_all['V37'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V36_'+str(col)
    c_all[var] = np.where(c_all['V37'] == col,1,0)
k =c_all['V38'].value_counts()
for col in k.axes[0][0:8]:
    var = 'V38_'+str(col)
    c_all[var] = np.where(c_all['V38'] == col,1,0)
k =c_all['V39'].value_counts()
for col in k.axes[0][0:5]:
    var = 'V39_'+str(col)
    c_all[var] = np.where(c_all['V39'] == col,1,0)

In [75]:
k =c_all['V40'].value_counts()
for col in k.axes[0][0:4]:
    var = 'V40_'+str(col)
    c_all[var] = np.where(c_all['V40'] == col,1,0)

In [76]:
c_all.drop(['V8'],1,inplace=True)
c_all.drop(['V9'],1,inplace=True)
c_all.drop(['V10'],1,inplace=True)
c_all.drop(['V11'],1,inplace=True)
c_all.drop(['V12'],1,inplace=True)
c_all.drop(['V13'],1,inplace=True)
c_all.drop(['V14'],1,inplace=True)
c_all.drop(['V15'],1,inplace=True)
c_all.drop(['V16'],1,inplace=True)
c_all.drop(['V17'],1,inplace=True)
c_all.drop(['V18'],1,inplace=True)
c_all.drop(['V19'],1,inplace=True)
c_all.drop(['V21'],1,inplace=True)
c_all.drop(['V22'],1,inplace=True)
c_all.drop(['V23'],1,inplace=True)
c_all.drop(['V24'],1,inplace=True)
c_all.drop(['V25'],1,inplace=True)
c_all.drop(['V26'],1,inplace=True)
c_all.drop(['V27'],1,inplace=True)
c_all.drop(['V28'],1,inplace=True)
c_all.drop(['V29'],1,inplace=True)
c_all.drop(['V32'],1,inplace=True)
c_all.drop(['V33'],1,inplace=True)
c_all.drop(['V34'],1,inplace=True)
c_all.drop(['V35'],1,inplace=True)
c_all.drop(['V36'],1,inplace=True)
c_all.drop(['V37'],1,inplace=True)
c_all.drop(['V38'],1,inplace=True)
c_all.drop(['V39'],1,inplace=True)
c_all.drop(['V40'],1,inplace=True)
c_all.drop(['V31'],1,inplace=True)
c_all.drop(['V30'],1,inplace=True)
c_all.drop(['V43'],1,inplace=True)
c_all.drop(['V59'],1,inplace=True)
c_all.drop(['V47'],1,inplace=True)
c_all.drop(['V62'],1,inplace=True)
c_all.drop(['V68'],1,inplace=True)
c_all.drop(['V67'],1,inplace=True)
c_all.drop(['V77'],1,inplace=True)
c_all.drop(['V78'],1,inplace=True)
c_all.drop(['V80'],1,inplace=True)
c_all.drop(['V44'],1,inplace=True)
c_all.drop(['V42'],1,inplace=True)

In [77]:
from sklearn.decomposition import PCA
c_train=c_all[c_all['data']=='train']
c_train = c_train.drop(['data'],1)

In [78]:
c_test=c_all[c_all['data']=='test']

In [79]:
c_test = c_test.drop(['data'],1)
c_test = c_test.drop(['V86'],1)

In [80]:
from sklearn.cross_validation import train_test_split,KFold

E:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [81]:
pca_train, pca_test = train_test_split(c_train, test_size = 0.3,random_state=2)

In [82]:
pca = PCA(.95)

In [83]:
x_pca_train = pca_train.drop(['V86'],1)
y_pca_train = pca_train['V86']
x_pca_test = pca_test.drop(['V86'],1)
y_pca_test = pca_test['V86']

In [84]:
pca.fit(x_pca_train,y_pca_train)

PCA(copy=True, iterated_power='auto', n_components=0.95, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [85]:
pca.n_components_

140

In [86]:
x_pca_train = pca.transform(x_pca_train)
x_pca_test = pca.transform(x_pca_test)

In [88]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(class_weight='balanced')

In [89]:
lr.fit(x_pca_train,y_pca_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [90]:
pred = lr.predict(x_pca_test)

In [91]:
from sklearn.metrics import fbeta_score

In [92]:
fbeta_score(y_pca_test, pred, average='macro', beta=0.5)

0.5199578054514492

In [93]:
c_test = pca.transform(c_test)

In [94]:
test = lr.predict(c_test)

In [95]:
df = pd.DataFrame(x_pca_train)

In [96]:
from sklearn import svm
m = svm.SVC(class_weight='balanced',kernel='linear',probability=True)

In [97]:
m.fit(df,y_pca_train)

SVC(C=1.0, cache_size=200, class_weight='balanced', coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [99]:
m_predict = m.predict_proba(x_pca_test)
prob_score = pd.Series(list(zip(*m.predict_proba(x_pca_train)))[1])
KS_cut=[]
cutoffs= [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
for cutoff in cutoffs:
    predicted=pd.Series([0]*len(y_pca_train))
    predicted[prob_score>cutoff]=1
    df=pd.DataFrame(list(zip(y_pca_train,predicted)),columns=["real","predicted"])
    TP=len(df[(df["real"]==1) &(df["predicted"]==1) ])
    FP=len(df[(df["real"]==0) &(df["predicted"]==1) ])
    TN=len(df[(df["real"]==0) &(df["predicted"]==0) ])
    FN=len(df[(df["real"]==1) &(df["predicted"]==0) ])
    P=TP+FN
    N=TN+FP
    KS=(TP/P)-(FP/N)
    KS_cut.append(KS)

In [100]:
cutoff_data=pd.DataFrame(list(zip(cutoffs,KS_cut)),columns=["cutoff","KS"])

KS_cutoff=cutoff_data[cutoff_data["KS"]==cutoff_data["KS"].max()]["cutoff"]

In [101]:
KS_cutoff

0    0.1
Name: cutoff, dtype: float64

In [102]:
prob_score_test=pd.Series(list(zip(*m.predict_proba(x_pca_test)))[1])

In [103]:
predicted_test=pd.Series([0]*len(y_pca_test))
predicted_test[prob_score_test>float(KS_cutoff)]=1

In [104]:
fbeta_score(y_pca_test, predicted_test, average='macro', beta=0.5)

0.5617284751474094